.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    height: 100%;
    gap: 1em;
}

.services-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-services {
    padding: 0;
}

@media (max-width: 420px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
