.reference-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.reference-icons span {
    display: grid;
    place-items: center;
}

.reference-icons svg:hover {
    color: var(--green);
}
