.login {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    background-color: #e0e0e0;
}

.ads-container {
    display: grid;
    grid-template-rows: 15% 1fr 25%;
    gap: 1rem;
    padding: 2rem;
}

.icons-container {
    height: 100%;
    display: grid;
    /* overflow: auto; */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.icon-container {
    width: 100%;
    overflow: hidden;
    align-self: flex-end;
}

.icons-container img {
    width: 100%;
    height: 100%;
    padding: 0 20%;
}

.ads {
    display: grid;
    place-items: center;
    background-color: gray;
}

.form-container {
    display: grid;
    grid-template-rows: 30% 1fr 10%;
    padding: 3rem;
    place-items: center;
}

.form-container h3 {
    text-align: center;
}

.loginForm-button {
    font-family: inherit;
    padding: 0.5em;
    border-radius: 0.3em;
    border: none;
}

.loginForm-button:hover {
    background-color: var(--green);
}

.loginForm-button:disabled {
    background-color: #e0e0e0;
}

.services-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
