.login {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    /* gap: 1rem; */
    background-color: #e0e0e0;
}

.ads-container {
    display: grid;
    grid-template-rows: 15% 1fr 25%;
    gap: 1rem;
    padding: 1rem 2rem;
}

.icons-container {
    height: 100%;
    display: grid;
    /* overflow: auto; */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.icon-container {
    width: 100%;
    overflow: hidden;
    align-self: center;
}

.icons-container img {
    padding: 0 25%;
}

.ads {
    display: grid;
    place-items: center;
    background-color: gray;
}

.form-container {
    /* padding: 1rem 0; */
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    padding: 1.25rem 4rem;
    /* place-items: center; */
    background-color: var(--primary);
    color: whitesmoke;
}

.form-container h3 {
    text-align: center;
    align-self: flex-end;
    padding: 1rem;
}

/* .loginForm {
    align-self: center;
    justify-self: center;
} */

.loginForm-button {
    font-family: inherit;
    padding: 0.75em;
    border-radius: 0.3em;
    border: none;
    background-color: var(--green-light);
    font-weight: 550;
}

.loginForm-button:hover {
    background-color: var(--green);
    color: rgb(255, 255, 255);
}

.loginForm-button:disabled {
    background-color: #e0e0e0;
}

.services-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (max-width: 650px) {
    .ads-container {
        display: none;
    }

    .login {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .icons-container img {
        padding: 0 5%;
    }
}

@media (max-width: 1200px) {
    .icons-container img {
        padding: 0 15%;
    }
}

@media (min-width: 2000px) {
    .icons-container img {
        padding: 0 30%;
    }
}
