.servicios-form {
    padding: 0.75rem 2.5rem;
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.personal form > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal div input {
    outline: 1px solid var(--primary);
}

.servicios-form::-webkit-scrollbar {
    width: 10px;
    /* margin: 1rem; */
}

.react-tel-input {
    outline: 1px solid var(--primary);
    border-radius: 5px;
}

.flag-dropdown {
    outline: 1px solid var(--primary);
    border-radius: 5px;
}

.button-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 50%;
}

.courrier-info {
    display: grid;
    gap: 1rem;
}

.courrier-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.servicios-form::-webkit-scrollbar-track {
    background-color: rgba(138, 138, 138, 0.447);
    border-radius: 10px;
}

.servicios-form::-webkit-scrollbar-thumb {
    background: rgb(149, 149, 149);
    border-radius: 10px;
}

.servicios-form::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 107, 107);
}

.servicios-form::-webkit-scrollbar-corner {
    background: rgb(107, 107, 107);
    color: aqua;
}

.servicios-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.servicios-button {
    padding: 1rem;
}

@media (max-width: 650px) {
    .servicios-form {
        grid-row: 2;
    }
}

@media (max-width: 300px) {
    .servicios-form,
    .personal {
        padding: 0.25rem 1rem;
    }
}
