.cart-section {
    display: grid;
    grid-template-rows: 60% 5% 32.5%;
    gap: 0.5rem;
}

.comprarButton {
    display: grid;
    align-items: center;
    padding: 1rem 0;
}
.comprarButton button {
    justify-self: center;
    width: 90%;
}

.mas-servicios h2 {
    text-align: center;
}

.cart-items {
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-template-rows: auto;
    background: linear-gradient(
        180deg,
        /* rgb(255, 255, 255) 0%, */ var(--primary-dark) 35%,
        var(--primary) 100%
    );
    /* background-color: rgb(207, 207, 207); */
    /* box-shadow: 1px 1px 5px black; */
}

.cart-items h1 {
    text-align: center;
    align-self: center;
    justify-self: center;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 10% auto;
    gap: 1rem;
    background-color: whitesmoke;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    /* align-self: flex-start; */
    /* color: var(--primary); */
}

.cart-text {
    display: grid;
    grid-template-columns: auto 80%;
    gap: 0.75rem;
    text-align: center;
    place-items: center;
}

.cart-text button {
    background-color: var(--red);
}

.cart-text svg {
    align-self: center;
    justify-self: center;
    color: whitesmoke;
}

@media (max-width: 750px) {
    .cart-item {
        grid-template-columns: 1fr 25% auto;
    }
}

@media (max-width: 550px) {
    .cart-item {
        grid-template-columns: 1fr 35% auto;
    }
}
