.hired-services {
    padding: 1rem;
    background: linear-gradient(
        200deg,
        var(--primary-dark) 35%,
        var(--primary) 100%
    );
    color: whitesmoke;
    display: grid;
    grid-template-rows: 10% auto;
    gap: 1rem;
}
