.input-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.input-form input {
    font-family: inherit;
    border-radius: 0.2rem;
    padding: 0.5em;
    border: none;
}

.input-form input:focus {
    outline-color: var(--primary-brilliant);
    outline-width: 0.1rem;
    outline-style: solid;
}

.password {
    display: flex;
    width: 100%;
    border-radius: 0.3em;
}

.password input {
    width: 100%;
    border-radius: 0.3em 0 0 0.3em;
}

.password button {
    border-radius: 0 0.3em 0.3em 0;
    background-color: white;
    border: none;
    padding: 0 1em;
    display: grid;
    place-items: center;
    outline: none;
}

.password:focus-within {
    outline-style: solid;
    outline-width: 0.1em;
    outline-color: var(--primary-brilliant);
}
