.input-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.input-form input {
    font-family: inherit;
    border-radius: 0.2rem;
    padding: 0.75em;
    border: none;
    /* outline:  */
    /* outline-color: red; */
}

.input-form input:focus {
    outline-color: var(--primary-brilliant);
    outline-width: 0.1rem;
    outline-style: solid;
}
/* Chrome, Safari, Edge, Opera */
.input-form input::-webkit-outer-spin-button,
.input-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/* .input-form input[type="number"] {
    -moz-appearance: textfield;
} */

.password {
    display: flex;
    width: 100%;
    border-radius: 0.3em;
}

.password input {
    width: 100%;
    border-radius: 0.3em 0 0 0.3em;
}

.password input[type="password"]::-ms-reveal,
.password input[type="password"]::-ms-clear {
    display: none;
}

.password button {
    border-radius: 0 0.3em 0.3em 0;
    background-color: white;
    border: none;
    padding: 0 1em;
    display: grid;
    place-items: center;
    outline: none;
}
.password div {
    background-color: wheat;
}

.password:focus-within {
    outline-style: solid;
    outline-width: 0.1em;
    outline-color: var(--primary-brilliant);
}

.error {
    color: var(--red-light);
    font-size: 0.75rem;
    font-weight: 700;
    /* text-shadow: 0px 0.4px rgb(200, 195, 195); */
}
