@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    --primary: #1653a3;
    --primary-brilliant: #105fc6;
    --primary-dark: #103668;
    --red: #ff0000;
    --red-light: #d04444;
    --green: #47d5ab;
    --green-light: #4ce0b3bb;
}
