.form {
    width: 100%;
    /* flex-grow: 1; */
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.link {
    text-align: center;
}

.link:hover {
    color: var(--primary-brilliant);
    cursor: pointer;
}
